.navigation-wrapper {
  background-color: #11122b;
  padding: 10px 20px;
  border-radius: 10px;
}

.nav-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.left-column,
.links-wrapper,
.address-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.links-wrapper {
  flex-direction: column; /* or row if you want nav beside logo */
  align-items: center;
  flex: 2;
}

.nav-wrapper {
  display: flex;
  gap: 15px;
}
