/* common navigation style */
.navigation-wrapper{
  hight: 190px;
  background-color: #11122b;
  color: #cbcbcb;
/* flexbox container */
display:flex;
  justify-content: space-between;
  align-items: center;
}
contact-hours-wrapper{
  color: royalblue;
}
.address-wrapper{
  color: red;
}
