/* common styles*/
body {
  background-color: #0d0b28;
  color: white;
  font-family: Arial, sans-serif;
}
/* common navigation style */
.navigation-wrapper {
  height: 190px; /* fixed typo */
  background-color: #11122b;
  color: #cbcbcb;

  /* flexbox container */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 100px;
}
.contact-hours-wrapper{

}
.address-wrapper{
  
}
.left-column{
  display: flex;
  align-item: center;
}
.contact {
  display: flex;
  align-items: center;
  color: white;
  font-size: 14px;
}

.contact i {
  margin-right: 8px;
}
.icon i{
  font-size= 2em;
}

/* Phone section styling */
.contact {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 14px;
}

/* Menu links horizontal */
.menu {
  display: flex;
  gap: 15px;
  padding: 10px;
}

.menu a {
  color: purple;
  text-decoration: none;
  font-weight: bold;
}

.menu a:hover {
  text-decoration: underline;
}

