/* common styles*/
body {
  background-color: #0d0b28;
  color: white;
  font-family: Arial, sans-serif;
}
/* common navigation style */
.navigation-wrapper {
  height: 190px; /* fixed typo */
  background-color: #11122b;
  color: #cbcbcb;

  /* flexbox container */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 100px;
}
.contact-hours-wrapper {

}
.address-wrapper i {
  
}
.left-column {
  display: flex;
  align: center;
}
.icon {
  margin-right: 15px;
}
.icon i {
  font-size: 2em;
}
/* Menu links horizontal */
.menu {
  display: flex;
  gap: 15px;
  padding: 10px;
}

.menu a {
  color: purple;
  text-decoration: none;
  font-weight: bold;
}

.menu a:hover {
  text-decoration: underline;
}

