body {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0px;
  background-color: #0d0b28;
}

.navigation-wrapper {
  padding: 20px;
  background-color: #11122b;
  color: #cbcbcb;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.left-column {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.icon{
  font-size: 3em;
}

.contact-hours-wrapper {
  margin-left: 10px;
}

.address-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}
/* Mobile responsiveness */
@media (max-width: 600px) {
  .navigation-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .left-column {
    flex-direction: column;
    align-items: flex-start;
  }

  .contact-hours-wrapper {
    margin-left: 0;
    margin-top: 5px;
  }
}
